ul {
    padding:0;
    margin:0;
    list-style-type:none;
}
li {
    margin-left:2px;
    float:left;
}
ul li a {
    display:block;
    float:left;
    width:100px;
    background-color:#6495ED;
    text-decoration:none;
    text-align:center;
}