.inputLabel{
  padding-bottom: 10px!important;
}
.labelGrey > label{
  color: #808080!important;
}
.labelGreyAccept > span{
  color: #000!important;
}

.labelGreyPassword > input{
  color: #000!important;
}
.title{
  color: #054752;
}
