.root{
  min-width: 400px;
}
.media{
  height: 0;
  width: 100%;
  padding-top: 56.25%;
}
.card{
  width: 100%;
  min-width: 300px;
  max-width: 450px;

}
.expand{
  transform: rotate(0deg);
  margin-left: auto;
}
.avatar{
  background-color: #03B6F0;
}
.flright{
  float: right;
}
.grow{
  flex-grow: 1;
}
.pr-15{
  padding-right: 15px;
}
.presentation{
  height: 100px;
  text-overflow: ellipsis;
}
.title{
  padding-top: 0px;
  height: 40px;
  text-overflow: ellipsis;
  line-height: 1!important;
  color: black;
}

.desc{
  color: dimgray;
}