.root{
  min-width: 400px;
}
.media{
  height: 0;
  width: 100%;
  padding-top: 56.25%;
}
.card{
  width: 29%;
  min-width: 250px;
  max-width: 450px;
  position: relative;
}
.expand{
  transform: rotate(0deg);
  margin-left: auto;
}
.avatar{
  background-color: #03B6F0;
}
.flright{
  float: right;
}
.grow{
  flex-grow: 1;
}
.pr-15{
  padding-right: 15px;
}
.presentation{
  height: 100px;
  text-overflow: ellipsis;
}
.title{
  padding-top: 0px;
  height: 40px;
  text-overflow: ellipsis;
  line-height: 1!important;
  color: black;
  text-transform: uppercase;
}

.desc{
  color: dimgray;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.MuiCard-root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.MuiCardContent-root{
  padding-bottom: 90px!important;
}
.MuiCardActions-root{
  width: 95%;
  position: absolute;
  bottom: 0;
}