.titleHeader{
   max-width: 300px;
   height: auto;
   width: 200px;
   text-align: center;
 }
.titleHeaderMobile{
  max-width: 150px;
  height: auto;
  width: 100px;
  text-align: center;
}
.titleHeaderConnexion{
  min-width: 100px;
  width: 12%;
  margin: 20px 0;
  text-align: center;
}