@import "../../../variables";

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16em;
}

@media only screen and (max-width: 600px) {
  .search {
    flex-direction: row;
  }
}

.searchTerm {
  width: 30%;
  border: 3px solid $primary-color;
  //   border-right: none;
  padding: 20px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: grey;
}

.searchTerm:focus {
  color: grey;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.searchButton {
  width: 68px;
  height: 66px;
  border: 1px solid $primary-color;
  background: $primary-color;
  text-align: center;
  color: #fff;
  //   border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.searchButton img {
  width: 100%;
  border: none !important;
  background: transparent !important;
}

.categoryButton {
  text-transform: uppercase;
  color: $white;
  background-color: #82ccdd;
  margin: 41px 10px 7px 10px;
  width: 189px;
  height: 55px;
  border-radius: 2px;
  border: hidden;
  font-weight: bold;

}

.categoryButton:focus {
  color: $white;
  background-color: #82ccdd;
  border: #82ccdd;

}
