version: 2.1

jobs:
  test:
    executor:
      name: node/default
      tag: '16.13.2'
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: yarn add typescript@4.1.6 && yarn run test
          name: YARN Tests
  eslint:
    executor:
      name: node/default
      tag: '16.13.2'
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: yarn add typescript@4.1.6 && yarn lint
          name: ESLINT Run
  build:
    executor:
      name: node/default
      tag: '16.13.2'
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: yarn add typescript@4.1.6 && yarn build
          name: YARN Build

orbs:
  node: circleci/node@16.13.2
  
workflows:
  test_dentiio_front:
    jobs:
      - test
      - eslint
      - build:
          requires:
            - eslint