@media screen and (max-width: 640px) {
  .item {
    width: 100%;
  }
}
h5{
  text-align: center;
  padding-top: 5px;
}
h3{
  font-family: 'Lato light', sans-serif;
  color: #fff;
  background-color: #03B6F0;
  padding: 10px 0;
  border-radius: 10px;
}
h2{
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}
h1{
  font-size: 2.5rem;
  color: #5F5D5D;
  font-family: 'Lato thin', sans-serif;
  padding-top: 10%;
}
p{
  padding-top: 5%;
  font-family: 'Lato', sans-serif;
}
a{
  text-align: center;
}
.rs{
  width: 30px;
  height: auto;
  padding: 15px;
}

.rsbloc{
  border: #03B6F0 solid 1px;
  border-radius: 10px;
  margin-top: -35px;
  margin-bottom: 30px;
  padding: 20px 0px 8px;
  order: 1;
}

.text-center{
  text-align: center;
}
.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 20px;
  margin: 0 3%;
}
.item{
  width: 50%;
}
.illus{
  width: 100%;
  height: auto;
}
.illusbloc{
  order: 0
}

@media screen and (max-width: 800px){
  .item{
    width: 100%!important;
  }
  .container{
    flex-direction: row-reverse!important;
  }
  .illusbloc{
    order: 1!important;
  }
  .rsbloc{
    order: 0!important;
  }
}

@media screen and (max-width: 600px){
  h1{
    font-size: 1.2rem!important;
    font-family: 'Lato', sans-serif;
  }
}

ul.block1_text_list {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #5f5d5d;
  list-style: none;
  padding: 0px;
  -webkit-margin-before: 40px;
  -webkit-margin-after: 41px;
  margin-top: 40px;
  margin-bottom: 70px;
}

li.block1_text_list {
  margin-bottom: 24px;
}

li.block1_text_list::before {
  content: "•";
  color: #03B6F0;
  margin-right: 15px;
}
