.register{
  width: 100vh;
  height: 80vh;
  display: flex;
    
  img{
      width: 50rem;
  }

  form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 8rem;
    margin-left: 8rem;
  }
}



