form{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 8rem;
  margin-left: 8rem;
}

.register{
    width: 100vh;
    height: 80vh;
    display: flex;
    margin-left: 2rem;
    
    img{
        width: 50rem;
    }
}



