.root{
  margin: 30px 10px 50px 10px;
  border: none;
}
.alignRight{
  text-align: right;
}
.icon{
  padding-right: 10px;
  margin-top: 2px;
}
.resume{
  padding-top: 20px;
}
.profileName{
  text-align: center;
  margin: 0;
}
.textCenter{
  text-align: center;
}
.keywords{
  margin: 0 2px
}
.fixed{
  position: fixed;
}
.titleExam{
  margin: 30px 0 15px 0
}