@import "../../../variables";

.blue{
  text-transform: uppercase;
  color: $white;
  background-color: $primary-color;
  margin: 7px 10px;
  width: 160px;
  height: 50px;
  border-radius: 120px;
  border-color: $white;
  border-style: solid;
  font-weight: bold;

}
