@import "../../../variables";

.white{
  text-transform: uppercase;
  color: $primary-color;
  background-color: $white;
  margin: 7px 10px;
  width: 160px;
  height: 50px;
  border-radius: 120px;
  border: hidden;
  font-weight: bold;
}