ul li a {
    display:block;
    float:left;
    width:100px;
    background-color:#6495ED;
    text-decoration:none;
    text-align:center;
}
#sectionMobile{
    position: fixed;
    top: 55px;
    bottom:0;
    width: 100vw; /* viewport width */
    height: 50px;
    z-index: 10;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    top: auto;

    .card {
        display: inline-block;
    }
}